body {
 	background: red;
}
header {
    background:black;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.pricipal{
    background: black;
    color: white;
    padding: 30px;
}

.titulo-principal {
    padding-left: 20px;
}

.titulo-centralizado {
    text-align: center
}

#tricolor {
    width: 100%;
}

p {
    text-align: center;

}

#spfc {
    font-size: 20px
}

em strong {
    color: white;
}

.itens {
    font-style: italic
}

.titulos{
    background: #FFFFFF;
    padding: 20px;
}
ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imagembeneficios {
    width:50%;
}
footer {
    text-align: center;
    background: url("1.jpg");
    padding: 40px 0;
}